In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

I want to add more stats for each individual fighter. I'll start with a simple win percentage stat.

To start I'll make another column called 'outcome_binary' which shows a 1 if the fighter won or a 0 for all other outcomes (draws and losses).

In [2]:
df = pd.read_csv('bjjheroes_matches.csv', index_col = 0)
def make_binary(string):
    if string == 'W':
        return 1
    else:
        return 0
df['outcome_binary'] = df['outcome'].apply(make_binary)

df.head()

             method outcome weight  year           name  outcome_binary
0  Inside heel hook       L    ABS  2015  Aaron Johnson               0
1               RNC       L   94KG  2015  Aaron Johnson               0
2         Heel hook       L    ABS  2015  Aaron Johnson               0
3            Points       L   94KG  2016  Aaron Johnson               0
4               NaN       L   94KG  2016  Aaron Johnson               0

This will make calculating win percentages easy, as I only have to take the mean of any given fighters outcome_binary. I'll group them by name and take the mean of their outcome binaries.

In [3]:
win_rates = df.groupby(['name'])['outcome_binary'].mean()
win_rates

name
AJ Agazarm              0.608466
AJ Sousa                0.674419
Aaron Johnson           0.546218
Abdurakhman Bilarov     0.687500
Abraham Marte           0.615385
                          ...
Yago de Souza           0.808511
Yan “Pica-Pau” Lucas    0.705263
Ygor Rodrigues          0.722222
Yuri Simões             0.777778
Yuta Shimada            0.756098
Name: outcome_binary, Length: 417, dtype: float64

I have win_percentages as a series, but I want it to be part of a new dataframe so that I can store more stats and compare them more easily.

In [5]:
name_list = list(df.name.unique())
name_list.sort() #the groupby method already sorted my win_percentages series, so I need to do the same for my name_list

df_stats = pd.DataFrame({'name':name_list, 'win_rate':list(win_rates)})
df_stats.head()

                  name  win_rate
0           AJ Agazarm  0.608466
1             AJ Sousa  0.674419
2        Aaron Johnson  0.546218
3  Abdurakhman Bilarov  0.687500
4        Abraham Marte  0.615385